html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, p, li, span, .city-select {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: fixed;
  margin-top: 72px;
  width: 100%
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 40, 104);
  border-bottom: 2px solid white;
}

.page-title {
  display: inline-block;
  margin: 20px;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


#sidebar {
  border: 1px solid #999;
  height: 100%;
  width: 280px;
  position: fixed;
  left: 0;
  background: rgba(139, 0, 0,.9);
}

#map {
  height: 100%;
  border: 1px solid #999;
  padding: 20px;

}

.small-map {
  margin-left: 280px;
}

.info {
  text-transform: capitalize;
}

.list-location {
  width: 250px;
  padding: 10px;
  border: 2px solid white;
  margin: 2px;
  background: rgb(139, 0, 0);
  border-radius: 2px;
  color: white;

}
.list-location:hover {
  background: rgba(139, 0, 0, 0.8);
  font-weight: bold;
}

.show-or-hide {
  background: #8B0000;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  width: 100px;
}

.city-select  {
  width: 270px;
  height: 40px;
  position: relative;
  font-size: 1em;
  margin: 2px;
  background: rgba(139, 0, 0, .8);
  color: white;
}

.accuweather {
  position: fixed;
  bottom: 0;
  font-size: .8em;
  margin: 5px;
  color: white;
}

a{
  color: white;
}



@media screen and (max-width: 490px) {
  .header {
    height: 100px;
  }
  .container {
    margin-top: 100px;
  }
  .page-title{
    font-size: 1.60em;
    display: block;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .show-or-hide {
    margin: auto;
    display: block;
    margin-top: 5px;
  }
}